.container {
  margin-top: 100px;
}

.center-div {
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn-auth {
  display: block;
  margin: auto;
}

datepicker #endDate {
  border-radius: 0px;
  border-left: 0px;
}
